@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --primaryColor:#6777ef;
    --backgroundPrimaryColor:rgba(103, 119, 239, 0.6);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    
}

body{
    background-color: #EFF2F4;
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color:#EFF2F4;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        img{
            width: 100%;
            filter: invert(100%);
        }
    }
    nav ul{
        list-style-type: none;
        display: flex;
        gap: 25px;
    }
    nav ul li{
        font-size: 1rem;
        font-family: Poppins;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'Quicksand';
        font-size: 13px;
        color: #333;
        font-weight: 500;
    }
    nav ul li:hover{
        color: var(--primaryColor);
    }
}

.banner-Image{
    img{
        width: 100%;
        height: auto;
    }
}

.content-banner{
    background-color: #EFF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    gap: 20px;
}
.content-banner-card{
    border: 1px solid var(--primaryColor);
    width: 400px;
    padding: 20px;
    border-radius: 6px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    .banner-card-header{
        min-height: 35px;
        display: flex;
        align-items: center;
        gap: 10px;
        i{
            color: var(--primaryColor) !important;
        }
    }
    
    .banner-card-header p{
        font-size: 1.4rem;
        color: var(--primaryColor);
        color: #333;
        font-weight: 600;
        line-height: 1.4;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}
.content-banner-card-paragraph
{
    line-height: 24px;
    font-size: 14px;
    color: #8A8A93;
}

.about-us-section{
    background-color: #FFF;
    padding: 30px;
}
.about-us-container{
    display: flex;
    align-items: space-between;

}

.content-side-container,.image-side-container{
    width: 50%;
    background: #FFF;
}

.image-side-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
        border: 1px solid #333;
        padding: 15px;
        border-radius: 8px;
        background-color: #fff;
    }
}

.content-side-container{
    /* border: 2px solid red; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    h2{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 15px;
    }
    p{
        line-height: 24px;
        font-size: 14px;
        color: #8A8A93;
        margin-bottom: 1rem;
    }
}

.cards-container-about-us{
    display: flex;
    justify-content: space-between;
}
.cards-container-about-us:first-of-type{
    margin-bottom: 1.5rem;
}
.card-about-us{
    width: 48%;
    display: flex;
    align-items: center;
    gap: 15px;
    i{
        border: 2px solid var(--primaryColor);
        padding: 15px;
        border-radius: 50%;
        color: var(--primaryColor);
        font-size: 1.5rem;
    }
}
.content-card-about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    h5{
        font-weight: 600;
        font-family: 'Quicksand';

        color: #333;
        padding: 0px;
        line-height: 1.4;
        font-size: 1.25rem;
    }
    p{

        font-size: 14px;
        color: #8A8A93;
        margin: 0;
    }
}

.achievements-wrapper{
    /* border: 2px solid red; */
    min-height: 242.2px;
    position: relative;
    background-image: url("https://rainbowdesign.in/themes/Abrukain/Light-HTML/img/bg/counter-bg.jpg");
    background-size: cover;
    background-position: top center;
    z-index: 0;
}
.achievements-wrapper::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--backgroundPrimaryColor);
    z-index: -1;
}

.achievement-container{
    /* border: 2px solid red; */
    height: 242px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievement-container-card{
    /* border: 2px solid green; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    gap: 6px;
    border-right: 1px solid rgba(255,255,255,0.3);
    h2{
        color: #fff !important;
        font-size: 50px;
        line-height: 36px;
        position: relative;
        padding-bottom: 18px;
        margin-bottom: 6px;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 0px;
        text-transform: capitalize;
        color: #fff;
    }
}
.achievement-container-card:last-of-type{
    border: none;
}

.services-section{
    /* border: 2px solid firebrick; */
    background-color: #FFF;
    padding-top: 80px;
    padding-bottom: 40px;
    h2{
        width: 80%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 36px;
        line-height: 34px;
        text-transform: uppercase;
        padding-bottom: 8px;
        position: relative;
        padding: 14px 0px;
        span{
            position: relative;
            color: var(--primaryColor);
        }
    }
    .services-card-container{
        /* border: 2px solid red; */
        /* padding: 14px; */
        margin: auto;
        width: 80%;
        margin-top: 14px;
        min-height: 200px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .services-card{
        /* border: 2px solid red; */
        border:1px solid #eff2f4;
        border-radius: 6px;
        max-width: 320px;
        min-width: 200px;
        padding: 30px;
        transition: all .5s ease-in-out;
        i{
            border: 2px dotted black;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h2{
            padding: 0;
            font-size: 22px;
            font-weight: 600;    
            margin: 0;
            text-align: left;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 20px;
            line-height: 24px;
            font-size: 14px;
            color: #8A8A93;
        }
        a{
            color: #333;
            border-bottom: 1px solid #333;
            border-radius: 0px;
            font-size: 12px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 1px;
            font-family: 'Quicksand';
            text-transform: uppercase;
            text-decoration:none;
            display: inline-block;
        }

        
    }
}
.services-card:hover{
     border: 1px solid rgba(15, 116, 134, 0.6);
}

.care-section{
    /* border: 2px solid red; */
    position: relative;
    background-image: url("https://rainbowdesign.in/themes/Abrukain/Light-HTML/img/bg/call-to-action-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 0;
    height: 430px;
    width: 100%;
}
.care-section-container{
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.care-section-container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.row-container{
    /* border: 2px solid green; */
    width: 80%;
    div{
        /* border: 2px solid salmon; */
        width: 50%;
        h2{
            color: #fff;
            font-weight: 800;
            font-size: 50px;
            margin-bottom: 6px;
        }
        h5{
            color: #fff;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
        }
        p{
            color: #fff;
            line-height: 28px;
            margin-bottom: 25px;
        }
        a{
            color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quicksand';
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: var(--primaryColor);
        }
    }
}

.blog-section{
    /* border: 2px solid red; */
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #FFF;
    h2{
        width: 80%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 36px;
        line-height: 34px;
        text-transform: uppercase;
        padding-bottom: 8px;
        position: relative;
        padding: 14px 0px;
        span{
            position: relative;
            color: var(--primaryColor);
        }
    }
    .blog-cards-section{

        /* border: 2px solid red; */
        /* margin-bottom: 100px; */
        width: 90%;
        margin: auto;
        display: flex;
        margin-top: 12px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .blog-cards{
            border:1px solid rgba(0,0,0,0.1);
            min-height: 200px;
            max-width: 320px;
            padding: 20px;
            h3{
                color: #333;
                font-size: 20px;
                display: inline-block;
                margin-bottom: 0px;
                position: relative;
            }
            p{
                display: block;
                font-size: 12px;
                line-height: 1.2;
                letter-spacing: .1em;
                color: var(--primaryColor);
                margin-bottom: 20px;
                margin-top: 12px;
            }
            img{
                width: 100%;
                margin-bottom: 20px;
            }
            p:last-of-type{
                /* border: 2px solid red; */
                line-height: 24px;
                font-size: 14px;
                color: #8A8A93;
                margin-bottom: 15px;
            }
            a{
                color: #fff;
                border: 0;
                border-radius: 4px;
                padding: 12px 20px;
                font-size: 12px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 1px;
                font-family: 'Quicksand';
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                background-color: var(--primaryColor);
            }
        }
    }
}

.subscribe-section{
    /* border: 2px solid red; */
    height: 205px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    .subscribe-container{
        /* border: 2px solid green; */
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-weight: 600;
            font-size: 30px;
            color: #FFF;
        }
        .container-input-section{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            /* border: 2px solid red; */
            width: 50%;
            height: 100%;
            input{
                width: 70%;
                padding: 10px;
                /* width: 100%; */
                border: 0px;
                background-color: #4c454c;
                border: 0px solid rgba(255, 255, 255, 0.2);
                padding: 18px;
                border-radius: 4px;
                color: #fff;
            }
            input::placeholder{
                color: rgb(192, 190, 190);
            }
            a{
                background-color: #ff5a60;
                color: #fff;
                border: 0;
                border-radius: 4px;
                padding: 12px 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                font-family: 'Quicksand';
                text-decoration: none;
                display: inline-block;
            }
        }
    }
}

.footer{
    background-color: black;
    /* min-height: 206px; */
    footer{
        border: 1px solid rgba(255,255,255,0.1);
        height: 54px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 24px;
        font-size: 14px;
        color: #8A8A93;
    }
    .footer-icons-container{
        display: flex;
        gap: 20px;
        color: white;
        cursor: pointer;
        a{
            color: white;
        }
    }
}
.footer-navigations{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        list-style-type: none;
        gap: 25px  ;
        align-items: center;
    

    }
    ul li {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        }
   
}




@media screen and (max-width:768px)
{


    nav {
        display: none !important;
        border: 2px solid red !important;
    }
    .navbar{
        /* border: 2px solid red !important; */
        justify-content: center !important;
    }
    .content-banner{
        flex-direction: column;

    }
    .content-banner-card{
        min-width: 320px !important;
        /* max-width: 400px !important; */
        width: 320px !important;
        margin: auto;
    }
    .about-us-section{
        padding: 0;
    }
    .about-us-container{
        display: flex;
        align-items: space-between;
        flex-direction: column;
    
    }
    .content-side-container,.image-side-container{
        width: 100%;
    }
    .cards-container-about-us{
        flex-direction: row;
    }
    .content-side-container {
        h2{
            text-align: center;
        }
    }
    .card-about-us{
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        width: max-content;
    }
    .cards-container-about-us:first-of-type{
        margin-bottom: 0;
    }
    .achievements-wrapper{
        display: none;
    }
    .image-side-container{
        display: flex;
        justify-content: center;
        /* border: 2px solid red; */
        img{
            width: 90%;
        }
    }
    .row-container{
        width: 100%;
        padding: 10px;
        text-align: center;
        div{
            width: 100%;
            h2{
                font-size: 30px;
            }
            h5{
                font-size: 15px;
            }
            p{
                color: #fff;
                line-height: 24px;
                margin-bottom: 25px;
                font-size: 17px;
            }
        }
    }
    .services-card-container{
        width: 100% !important;
        .services-card{
            width: 90% !important;
            margin: auto;
        }
    }
    .blog-cards-section{
        gap: 20px;
        justify-content: center !important;
    }
    .subscribe-container{
        flex-direction: column;
        h2{
            font-size: 20px !important;
        }
        .container-input-section{
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            /* border: 2px solid red; */
            width: 100% !important;
            input{
                width: 100% !important;
            }
        }
    }
    .footer{
        height: unset !important;
    }
    .footer footer{
        /* padding: 12px; */
        flex-direction: column-reverse;
        padding: 10px;
        gap: 20px;
        height: unset !important;
    }
    .footer-navigations{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .cards-container-about-us{
        flex-direction: column;
    }
}

@media screen and (min-width:769px) and (max-width:1000px)
{
    .navbar{
        /* bord er: 2px solid red; */
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-card-header p{
        font-size: 1rem !important;
    }

    .about-us-section{
        padding: 10px !important;
    }
    .about-us-container{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .content-side-container,.image-side-container{
        width: 90%;
        margin:0;
    }
    .image-side-container{
        justify-content: center;
    }
    .services-card-container{
        justify-content: center !important;
    }
    .row-container {
        div{
            h2{
                font-size: 33px;
            }
            h5{
                font-size: 15px;
            }
            p{
                line-height: 22px;
            }
        }
    }
    .blog-cards-section{
        justify-content: center !important;
        gap: 20px;
    }
    .subscribe-section {
        .subscribe-container{
            flex-direction: column;
            gap: 20px;
            .container-input-section{
                width: 100%;
            }
        }
    }
    
}

