@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    
}

body{
    background-color: #EFF2F4;
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #EFF2F4;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        gap: 25px;
    }
    nav ul li{
        font-size: 1rem;
        font-family: Poppins;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'Quicksand';
        font-size: 13px;
        color: #333;
        font-weight: 500;
    }
    nav ul li:hover{
        color: #328897;
    }
}

.banner-Image{
    img{
        width: 100%;
        height: auto;
    }
}

.content-banner{
    background-color: #EFF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    gap: 20px;
}
.content-banner-card{
    border: 1px solid #328897;
    width: 400px;
    padding: 20px;
    border-radius: 6px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    .banner-card-header{
        min-height: 35px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .banner-card-header p{
        font-size: 1.4rem;
        color: #328897;
        color: #333;
        font-weight: 600;
        line-height: 1.4;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}
.content-banner-card-paragraph
{
    line-height: 24px;
    font-size: 14px;
    color: #8A8A93;
}

.about-us-section{
    background-color: #FFF;
    padding: 100px;
}
.about-us-container{
    display: flex;
    /* border: 2px solid red; */
    align-items: space-between;

}

.content-side-container,.image-side-container{
    width: 50%;
    background: #FFF;
}

.image-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        border: 1px solid #333;
        padding: 15px;
        border-radius: 8px;
        background-color: #fff;
    }
}

.content-side-container{
    /* border: 2px solid red; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    h2{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 15px;
    }
    p{
        line-height: 24px;
        font-size: 14px;
        color: #8A8A93;
        margin-bottom: 1rem;
    }
}

.cards-container-about-us{
    display: flex;
    justify-content: space-between;
}
.cards-container-about-us:first-of-type{
    margin-bottom: 1.5rem;
}
.card-about-us{
    width: 48%;
    display: flex;
    align-items: center;
    gap: 15px;
    i{
        border: 2px solid #0f7486;
        padding: 15px;
        border-radius: 50%;
        color: #0f7486;
        font-size: 1.5rem;
    }
}
.content-card-about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    h5{
        font-weight: 600;
        font-family: 'Quicksand';

        color: #333;
        padding: 0px;
        line-height: 1.4;
        font-size: 1.25rem;
    }
    p{

        font-size: 14px;
        color: #8A8A93;
        margin: 0;
    }
}
